@page "/jsexp"
<h3>JsExp</h3>

<button class="btn btn-primary" type="button" @onclick="Func01">No Args-No Return</button>
<br />
<hr />
<button class="btn btn-primary" type="button" @onclick="@(async () => await Func02())">One Arg from CS-No Return</button>
<br />
<hr />
<button class="btn btn-primary" type="button" @onclick="@(async () => {await Func02("Hello from button");})">One Arg from Razor-No Return</button>
<br />
<hr />
<button class="btn btn-primary" type="button" @onclick="@(async () => { F3String = await Func03();})">No Args-One Return</button>
<h4>@F3String</h4>
<br />
<hr />
<button class="btn btn-primary" type="button" @onclick="Func04">No Args-Return Two Prop JSON</button>
<h4>Name: @Lola.Name, Age: @Lola.Age</h4>
<br />
<hr />
<button class="btn btn-primary" type="button" @onclick="Func05">Two Args-Return Two Prop JSON</button>
<h4>Name: @Titus.Name, Age: @Titus.Age</h4>
<br />
<hr />
<button class="btn btn-primary" type="button" @onclick="Exp">EXP</button>
